# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env
.env.*     # caso tenha .env.development, .env.production etc.

# Docker
docker-compose.override.yml
*.local
*.env.local

# Prisma
.prisma/
prisma/dev.db
prisma/*.sqlite
prisma/migrations/

# Logs
logs/
*.log

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Optional: ignore build outputs (caso use TypeScript ou Webpack)
dist/
build/
